
.Container {
    padding: 20px;
}

.womanimg{
width: 400px;
padding: 10px;
}
.Sidebar{
    margin: 20px;
    padding: 10px;
}
.SBTitle{
    text-align: center;
    justify-content: center;
    font-size: 40px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 20%;
    padding-bottom: 10px;
}
.name2{
    font-style: italic;
    font-size: 20px;
    color: black;
    text-align: center;
    justify-content: center;
    
}
.SBText{
     text-align: center;
    justify-content: center;
      margin: 20px;
    padding: 10px;
}
.iconlink {
 color: white;
  background-color:	#FF8C00 ;
   text-align: center;
    justify-content: center;
    font-size: 25px;
     margin-left: 10px;
}
.SBsicon{
      margin-top: 15px;
      margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
    background-color:	#FF8C00 ;
}
.SBlist{
      list-style-type: none;
  margin-bottom: 30px;
}
.SBListItem{
 text-align: center;
  margin-top: 15px;
  padding: 5px;
  margin-top: 15px;
  cursor: pointer;
}