.Container {
    padding: 20px;
}

.writeform { 
 padding-bottom: 5px;
 
}
.writeinput {
    padding: 10px;
  font-size: 20px;
  width: 65vw;
  margin: 5px;

 
    
}

.writeinput::placeholder {
  color:#FF8C00;
  font-weight: 400;
  border-color: #FF8C00;
}
.writeInput:focus {
  border-color: #FF8C00;
}

.WFGroup{
    padding: 10px;
}

.WriteIcon{
    margin-right: 5px;
}
.writeText{
       font-size: 20px;
  height: 200px;    
}
.WSubmit {
    color: white;
  background-color:	#FF8C00 ;
   text-align: center;
   padding: 7px;
    justify-content: center;
    border: #FF8C00;
     margin-left: 10px;
       
}